.game-info-card {
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 78%;
    max-width: 300px;
    margin-top: 20px;
}

.game-info-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.game-info-card {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}
